html, 
body{
    margin: 0;
    height: 100%;
}
.logo {
    vertical-align: middle;
    height: 128px;
}
.title {
    vertical-align: middle;
    font-family: 'Bad Script', cursive;
    font-size: 36px;
}
.logoimg {
    height: 100px;
}
.wrapper header{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items:center;
    background: #EEEEEE;
}
nav{
    background: #64CCC5;
}
.list{
    display: flex;
    justify-content: space-between;
}
.list li{
    list-style: none;
    padding: 10px;
    border:1px solid transparent;
}
.list li:hover{
    border: 1px solid black;
}
.list li a{
    color:black;
}
main{
    display: flex;
    background: #EEEEEE;
}
.left{
    width:40%;
    height: max-content;
    border: 2px solid #176B87;
    padding: 1% 2% 1% 2%;
    font-size: 15px;
    font-family: 'Lucida Sans Unicode';
    background-color: #d3e5e6;
    text-align:justify;
}
.leftf{
    width:40%;
    padding: 1% 2% 1% 2%;
    font-size: 16px;
    font-family: 'Lucida Sans Unicode';
    background-color: #64ccc5e3;
    text-align:center;
}
.right{
    width:85%;
    padding: 1% 4% 1% 4%;
    font-size: 16px;
    font-family: 'Lucida Sans Unicode';
    text-align:justify;
}
.rightf{
    padding: 1% 4% 1% 4%;
    width: 85%;
    font-size: 14px;
    font-family: 'Lucida Sans Unicode';
    text-align:right;
    background-color: #c1ebe8e3;
}
.img{
    vertical-align: middle;
    height: 170px;
    text-align: center;
   
}
.figure {
    height: 200px;
    padding: 1% 20% 1% 20%;
  }
.figure2 {
    height: 50px;
    padding: 1% 20% 1% 20%;
  }
.figure3{
    height: 160px;
  }

footer{
    background: #637977;
    text-align: center;
    font-weight: bold;
}
.footer1{
    display: flex;
    background: #637977;
    text-align: center;
    font-weight: bold;
}
.d1 {
    padding: 1% 13% 1% 13%;
    font-size: 14px;
    font-family: 'Lucida Sans Unicode';
    font-weight: normal; 
    text-align:justify;
}
.d2{
    height: max-content;
    border: 2px solid #176B87;
    padding: 1% 2% 1% 2%;
    text-align:center;
    font-size: 16px;
    font-family: 'Lucida Sans Unicode';
}
.d3{
    color: #004aad;
}
h2{
    padding: 0;
    margin: 0;
}
input,button,select{
    max-width: 200px;
    background: #e4c46e;
}
.wrapper{
    display: flex;
    flex-direction: column;
}
.line{
    border-top: 6px solid #181346;
}
